<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>339597407965-qsn4c9b2kp3glpkrnqcui3m8479moer9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.339597407965-qsn4c9b2kp3glpkrnqcui3m8479moer9</string>
	<key>API_KEY</key>
	<string>AIzaSyAx5eT7nk_8WFoBYEJo4WHD22B8TwGRVz4</string>
	<key>GCM_SENDER_ID</key>
	<string>339597407965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-2a7dd</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-2a7dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339597407965:ios:68df82b96ad772a0164d34</string>
</dict>
</plist>